body {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

header, nav {
    height: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ******************* */
/* The look of Firefox */

.left-header, ul {
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

ul {
    
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.right-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
    width: auto;
}

/* End the look of Firefox */
/* *********************** */

a{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.left-text {
    color: #404040;
    font-family: "Google", sans-serif;
    margin: 15px;
}

.right-text {
    color: #212121;
    margin: 15px;
    font-family: "Google",sans-serif;
    font-size: 12px;
}

.apps-button {
    /* This is the look of the sign-in button for Chrome and Safari, not Firefox */
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 20px 5px 5px;
}

.apps-svg {
    width: 16px;
    height: 16px;
    fill: #5f6368;
}

.signin-button {
    color: white;
    font-family: "Google", sans-serif;
    background: #458bf6;
    padding: 8px 13px 8px 13px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: bold;
}

.signin-button:hover {
    text-decoration: none;
}

.google-logo-container {
    display: flex;
    justify-content: center;
    padding-top: 134px; /* This is the spacing for Safari, not Firefox or Chrome */
}

.google-logo {
    display: block;
    max-width: 272px;
    max-height: 92px;
    height: auto;
    width: auto;
}

.search-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Chrome has a narrower search box compared to Safari and Firefox */
.search-box-container {
    margin-top: 27px;
    border: 1px solid #dfe1e5;
    height: 44px;
    width: 582px;
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search-icon {
    width: 16px;
    height: 16px;
    margin-left: 17px;
    margin-right: 14px;
}

.mg {
    fill: #9aa0a6;
}

.search-box {
    flex: 1;
}

input {
    width: 500px;
    height: 35px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-buttons-container {
    margin-top: 38px;
}

.search-button {
    padding: 10px 15px 10px 15px;
    font-family: "Google", sans-serif;
    background-color: #f8f9fa;
    font-size: 14px;
    color: #3c4043;
    margin: 5px;
    border-radius: 2px;
}

.search-button:hover {
    text-decoration: none;
}


/* The footer in Chrome has a different behavior from Safari and Firefox for the footer */
.footer-container {
    width: 100%;
    bottom: 0;
    position: fixed;
    left: 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-top: 1px solid #dadce0;
}

.footer-text:first-of-type {
    margin-left: 30px;
}

.footer-text:last-of-type {
    margin-right: 30px;
}

.footer-text {
    color: #70757a;
    font-family: "Google", sans-serif;
    font-size: 14px;
    margin: 11px;
}