body {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

header {
    height: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-header {
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.right-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
    width: auto;
}

a{
    text-decoration: none;
}

.left-text {
    color: #404040;
    font-family: "Google", sans-serif;
    margin: 15px;
}

.right-text {
    color: #212121;
    margin: 15px;
    font-family: "Google",sans-serif;
    font-size: 12px;
}

.apps-button {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 20px 5px 5px;
}

.apps-svg {
    width: 16px;
    height: 16px;
}

.signin-button {
    color: white;
    font-family: "Google", sans-serif;
    background: #458bf6;
    padding: 8px 13px 8px 13px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: bold;
}

.google-logo-container {
    display: flex;
    justify-content: center;
    padding-top: 134px;
}

.google-logo {
    display: block;
    max-width: 272px;
    max-height: 92px;
    height: auto;
    width: auto;
}

.search-container {
    display: flex;
    justify-content: center;
}

.search-box-container {

    border: 1px solid #212121;
    height: 20px;
    width: 500px;
}

.footer-container {
    
}